.headline {
  font-size: 2rem;
}

.section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section p + p {
  font-size: x-small;
  background-color: var(--highlight);
  color: var(--bg-color);
  border-radius: 30px;
  padding: 2px 10px;
}

.dataGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  font-size: x-small;
  margin: 10px auto;
}

@media (min-width: 678px) {
  .dataGroup {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 870px) {
  .dataGroup {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .dataGroup {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .dataGroup {
    grid-template-columns: repeat(6, 1fr);
  }
}
