.headline {
  font-size: 2rem;
}

.dataGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  font-size: x-small;
  margin: 10px auto;
}

@media (min-width: 678px) {
  .dataGroup {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 870px) {
  .dataGroup {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .dataGroup {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .dataGroup {
    grid-template-columns: repeat(6, 1fr);
  }
}
