.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
