.para {
  height: fit-content;
  font-size: clamp(14px, 1.5vw, 16px);
  margin-bottom: 10px;
}

.card {
  background-color: var(--primary);
  color: var(--bg-color);
}

.heading {
  border-top: 2px solid var(--bg-color);
  border-bottom: 2px solid var(--bg-color);
  padding: 5px 2px;
}

.heading > span {
  border-right: 2px solid var(--bg-color);
  padding: 0 10px;
  margin-right: 10px;
}

.content {
  padding: 5px;
  font-size: small;
  text-align: justify;
}

@media (min-width: 768px) {
  .emergencyContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
