.emergencyFormContainer {
  padding: 20px;
  margin: 20px auto;
  border: 1px solid var(--primary);
}

.formHeading {
  font-size: 1.5rem;
  color: var(--primary);
  margin-bottom: 10px;
}

.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.checkboxLabel input {
  width: fit-content;
  margin-right: 10px;
}

.formField input,
select,
textarea {
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-bottom: none;
  color: var(--primary);
  outline: none;
  padding: 10px;
  width: 100%;
}

.formField textarea {
  border-bottom: 1px solid var(--secondary);
  resize: none;
}

.consentSection {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: small;
}

.privacyPolicy {
  margin-top: 10px;
  font-size: small;
  text-decoration: underline;
  &:hover {
    color: var(--highlight);
    cursor: pointer;
  }
}
