.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}
.heading {
  flex: 1;
}

.para {
  font-size: 1.5rem;
  color: var(--primary);
  margin-bottom: 1px;
}

.card {
  flex: 1;
}

.sections {
  margin-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--primary);
  margin: 10px 0;
  padding-top: 10px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
}

.content {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: small;
}

.content li {
  text-align: justify;
}
